<!doctype html>
<html lang="ja">
<head>
	<meta charset="uft-8">
	<title>Web Paint</title>

	
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"> -->
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="all">
	<link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

</head>
<body>
 
	<header>
		<h1>Paint Box</h>
		<div class="command_menu">
			<img src="images/camera-icon.png"  class="camera_icon" alt="camera">
			<img src="images/emailicon.png" class="email_icon" alt="emailicon">
			<!-- <img src="images/pencilicon.png" class="pencil_icon" alt="pencilicon"> -->
	</header>
	<div class="frame_wrapper cf">
		<img src="images/Squareframe1.png"  alt="frameArt" class="frameImage" data-framename="frame1">
		<img src="images/Squareframe2.png" alt="frameArt" class="frameImage"  data-framename="frame2" >
		<img src="images/Squareframe3.png"   alt="frameArt" class="frameImage"  data-framename="frame3" >
		<img src="images/Squareframe4.png"  alt="frameArt" class="frameImage" data-framename="frame4" >
		<img src="images/Squareframe5.png"  alt="frameArt" class="frameImage"  data-framename="frame5">
	</div>
	<div class="canvas_wrapper">		
		<canvas id="photo" width="800" height="600"></canvas>
        <canvas id="frame" width="800" height="600"></canvas>
		<canvas id="canvas" width="800" height="600"></canvas>
		<div id="camera"></div>
	</div>
	<div class="pencil_wrapper">
		<div class="colors">
			<img src="images/pen1.png"  alt="colorpencilart" class="colorpencil white" id='colorWhite'>
			<img src="images/pen2.png" alt="colorpencilart" class="colorpencil yellow" id='colorYellow'>
			<img src="images/pen3.png" alt="colorpencilart" class="colorpencil green" id='colorGreen'>
			<img src="images/pen4.png" alt="colorpencilart" class="colorpencil lightblue"
			id = 'colorLightblue'>
			<img src="images/pen5.png" alt="colorpencilart" class="colorpencil blue"
			id = 'colorBlue'>
			<img src="images/pen6.png" alt="colorpencilart" class="colorpencil purple"
			id = 'colorPurple'>
			<img src="images/pen7.png" alt="colorpencilart" class="colorpencil pink"
			id = 'colorPink'>
			<img src="images/pen8.png" alt="colorpencilart" class="colorpencil orange"
			id = 'colorOrange'>
			<img src="images/pen9.png"  alt="colorpencilart" class="colorpencil red" id ='colorRed'>
			<img src="images/pen10.png" alt="colorpencilart" class="colorpencil flesh" id ='colorFlesh'>
			<img src="images/pen11.png" alt="colorpencilart" class="colorpencil brown" id = 'colorBrown'>
			<img src="images/pen12.png" alt="colorpencilart" class="colorpencil black"
			id = 'colorBlack'>
			<img src="images/eraser.png" alt = "colorpencilart" class="colorpencil eraser" id = 'colorEraser'>
		</div>
	</div>
	

	



	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="javascripts/photobooth_min.js"></script>
	<script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>
